<!-- <h1 *ngFor="let producto of listaProducto">{{producto.name}}  {{producto.price}}</h1> -->
<h1 class="titulo">Productos</h1>
<div class="conteiner" *ngIf="mostrarTabla()">

    <div class="size-tabla">
        <table class="table table-striped table-bordered" >
            <thead>
              <tr>
                <th scope="col" class="table-dark"> NOMBRE </th>
                <th scope="col" class="table-dark"> PRICE </th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let producto of productos">
                <td class="table-primary"> {{producto.name }} </td>
                <td class="table-primary">{{producto.price | currency }}</td>      
              </tr>    
            </tbody>
          </table>
          </div >
   
    </div>

<div class="btn">
    <button  mat-raised-button color="primary" (click)="cambiarNombreBtn(nombreBtn)"> {{nombreBtn}} </button>

</div>
  



     