.titulo{
    text-align: center;
    margin-top: 40px;
    text-decoration: underline;
    font-weight: bold;
}

  .btn{
    display: flex;
    justify-content: center;
  }

  table{
    width: 60vw;
  }
  
  .size-tabla{
    display:flex;
    justify-content: center;
   
  }

  .tabla-oculta{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px ;
  }

  .tabla-oculta h2{
    font-size: 6rem;
    color:lightgray;
    font-weight: 700;

  }