<h1 class="titulo">Productos</h1>

<ng-template  [ngIf]="mostrarTabla()" [ngIfElse]="elseBlock" >

    <div class="size-tabla">
        <table class="table table-striped table-bordered" >
            <thead>
              <tr>
                <th scope="col" class="table-dark"> NOMBRE </th>
                <th scope="col" class="table-dark"> PRECIO </th>
              </tr>
            </thead>
            <tbody >
              <tr *ngFor="let producto of productos">
                <td class="table-primary"> {{producto.name }} </td>
                <td class="table-primary">{{producto.price | currency }}</td>      
              </tr>    
            </tbody>
          </table>
          </div >
   
    </ng-template>

    <ng-template #elseBlock>
      <div class="tabla-oculta">
        <h2>Se Ocultó la tabla</h2>
      </div>     
    </ng-template>

<div class="btn">
    <button  mat-raised-button color="primary" (click)="cambiarNombreBtn(nombreBtn)"> {{nombreBtn}} </button>

</div>
  



     